/* 版权信息下划线去除 */
#post .post-copyright .post-copyright-info a {
    text-decoration: none;
}

/* 页脚底部效果优化 */
#aside-content .card-webinfo .webinfo .webinfo-item {
    padding: 0 0 0 0
}

#footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #000;
    background: hsla(0, 0%, 100%, .15);
}

#footer #footer-wrap,
#footer #footer-wrap a {
    color: #333;
}

.fa-heart {
    color: red
}

/* 分类字体调大 */
#page .category-lists ul {
    font-size: 22px;
    ;
}

/* h1-h6颜色优化 */
#content-inner.layout h1::before {
    color: #5ec1e0;
}

#content-inner.layout h2::before {

    color: #ffbf00;
}

#content-inner.layout h3::before {
    color: #57c850;
}

#content-inner.layout h4::before {
    color: #fb7061;
}

#content-inner.layout h5::before {
    color: #a9e000;
}

#content-inner.layout h6::before {
    color: #ef50a8;
}

#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: #49b1f5;
}

/* 图片下方描述和图片间距调整 */
.img-alt {}

/* 页面标题和文章标题居中显示 */
.page-title {
    text-align: center;
}

.post-title {
    text-align: center;
}